.tooltip-text {
    font-style: italic;
    color: #AAAAAA;
}

.align-center-container {
    background-color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    padding-top: 20px;
}

.My-Main-Content {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 70px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;

}

.aboutme-image {
    width: 550px;
    height: auto;
    margin: auto;
    max-height: 600px;
    object-fit: cover;
    border-radius: 20%;
}

.education-ul {
    list-style-type: disc;
}

@media screen and (max-width: 800px) {
    .My-Main-Content {
        width: 95%;
        margin-top: 10px;
    }
}
@media screen and (min-width: 800px) {
    .My-Main-Content {
        width: 60%;
        margin-top: 20px;
    }
}