.tooltip-text {
    font-style: italic;
    color: #757575;
}

.align-center-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    padding-top: 20px;
}

.My-Main-Content {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

@media screen and (max-width: 800px) {
    .My-Main-Content {
        width: 95%;
        margin-top: 10px;
    }
}
@media screen and (min-width: 800px) {
    .My-Main-Content {
        width: 60%;
        margin-top: 20px;
    }
}