html, body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: clip ;
}

.tooltip-text {
    font-style: italic;
    color: #AAAAAA;
}

.align-center-container {
    background-color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    padding-top: 20px;
}

.My-Main-Content {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 70px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 85vh;


}

.header-subtext {
    color: #AAAAAA;
}

.aboutme-image {
    height: 70vh;
    width: auto;
    max-width: 60%;
    margin: auto;
    object-fit: cover;
    border-radius: 20%;
}

.img-wrapper {
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 30vw;
    height: 60vh;
    flex-shrink: 0;
    border-radius: 20%;
}

.code-snippet {
    display: block;
}

.img-fade-in {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1s ease-out, filter 1s ease-out;

}

.visible {
    opacity: 1;
    filter: blur(0);
}

.education-ul {
    list-style-type: disc;
}

@media screen and (max-width: 800px) {
    .My-Main-Content {
        width: 95%;
        margin-top: 10px;
    }

    .hero-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    .img-wrapper {
        width: 100%;
        height: 60vh;
    }

    .code-snippet {
        transform: scale(1.1) translateX(1%) translateY(-20%);
    }
}

@media screen and (min-width: 800px) {
    .My-Main-Content {
        width: 60%;
        margin-top: 20px;
    }

    .hero-container {
        flex-direction: row;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        scroll-margin: 11vh 0;
    }

    .code-snippet {
        transform: perspective(1000px) rotateY(20deg) scale(1.1) translateX(6%) translateY(-18%);
    }
}