:root {
    --vh: 100%
}

html, body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: clip ;
}

.shader-background {
    position: fixed;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 1);
}

.home-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100vw;
}

.home-page-content > * {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top: 70px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}