.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
}
body {
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" on, "kern" on;
    line-height: 1.6;
    letter-spacing: 0.3px;
}

p, h1, h2, h3, h4, h5, h6 {
    text-align: justify;
}