html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.notfound-container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10%;
    flex-direction: column;
}

.notfound-header {
    color: #fff;
    text-align: center;
}
